<html>
    <h1>adadw</h1>
    <table border="1">
        <thead>
            <tr>
                <th rowspan="2">No</th>
                <th rowspan="2">Akun</th>
                <th rowspan="2">Detail</th>
                <th>RUPS RKAP</th>
                <th rowspan="2">Keterangan</th>
                <th colspan="12">Target Realisasi 2021(Rp)</th>
                <th rowspan="2">Total</th>
            </tr>
            <tr>
                <th>(Rp)</th>
                <th>Januari</th>
                <th>Februari</th>
                <th>Maret</th>
                <th>April</th>
                <th>Mei</th>
                <th>Juni</th>
                <th>Juli</th>
                <th>Agustus</th>
                <th>September</th>
                <th>Oktober</th>
                <th>November</th>
                <th>Desember</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>Suku Cadang</td>
                <td>Selotip mahal</td>
                <td>15000000</td>
                <td>-</td>
                <td>500000</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>700000</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td></td>
                <td>Suku Cadang</td>
                <td>Pagar besi</td>
                <td>400000</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>2000000</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td rowspan="2">1</td>
                <td rowspan="2" colspan="2">Sub Total-> Suku Cadang</td>
                <td rowspan="2">18999000000</td>
                <td>Rencana</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Realisasi</td>
                <td></td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</html>